@import "./variables";

.header h1 {
  font-size: 2em;
  color: white;
  margin-top: 0;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  margin-bottom: 1em;
  background-color: $secondaryColor;
  background-image: url("../../images/diagmonds-light.png");
}

.content {
    .thanks {
        margin-top: 0;
        text-align: center;
    }
    form {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;

        label {
            font-size: 1.5em;
        }

        #reason {
            font-size: 1.25em;
            margin-top: 1em;
            margin-bottom: 1em;
        }

        #message {
            padding: 1em;
            margin-bottom: 1em;
            width: 75%;
            height: 250px;
            border-radius: 0.5em;

        }

        input {
            background-color: $primaryColor;
            color: white;
            font-size: 1.5em;
            border-radius: 0.25em;

            &:hover {
                background-color: $secondaryColor;
            }
        }
    }
}