@import "./variables";

body {
  font-size: 0.8em;
}
.reviewInputs {
  padding-top: 0.5em;
  padding-left: 1em;
  font-weight: bold;
  color: white;
  border-style: solid none none none;
  border-color: $primaryColor;
  border-width: 8px;
  padding-left: 0;
  background-color: $secondaryColor;
  background-image: url("../images/diagmonds-light.png");

  form {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding-left: 1.5em;
    justify-items: left;
    label {
      font-size: 1.3em;
    }
    .starBox {
      width: 40px;
      filter: invert(98%) sepia(2%) saturate(422%) hue-rotate(167deg)
        brightness(93%) contrast(85%);
    }

    [type="radio"] + img {
      cursor: pointer;
    }

    [type="radio"] {
      position: absolute;
      opacity: 0;
      width: 0;
      height: 0;
    }

    textarea {
      border: none;
      outline: none;
      border-radius: 1.25em;
      padding: 1em;
      width: 90%;
      height: 150px;
    }
    #overallRating,
    #difficultyRating {
      padding: 0;
      grid-column: 1/13;
      h2 {
        vertical-align: 25%;
        display: inline-block;
        font-size: 2em;
      }
    }

    .anonymous {
      margin-bottom: 1.5em;
      margin-right: 0;
      grid-column: 1/7;
    }
    .takeAgain {
      margin-left: 0;
      grid-column: 7/13;
    }

    .textbook {
      margin-bottom: 1.5em;
      grid-column: 1/5;
    }

    .grade {
      grid-column: 5/10;
    }

    .year {
      grid-column: 10/13;
    }

    .professor {
      margin-bottom: 1.5em;
      grid-column: 1/13;
    }

    .comment,
    .advice {
      width: 85%;
      grid-column: 1/13;
      margin-bottom: 0.5em;
      input {
        text-align: center;
        padding-right: 0em;
      }
    }

    #submitReview {
      grid-column: 1/13;
    }

    #cancelReview {
      grid-column: 1/10;
    }

    #deleteReview {
      grid-column: 10/13;
    }
    .buttons {
      padding: 0.2em;
      padding-right: 0.4em;
      padding-left: 0.4em;
      border-radius: 0.4em;
      margin-bottom: 0.75em;
      font-size: 1.5em;
      background-color: $primaryColor;
      color: white;
      &:hoover {
        background-color: $secondaryColor;
      }
    }
  }
}

.mainNav {
  z-index: 2;
}

.header {
  .subjectTitle {
    font-size: 2.75em;
  }
}
.content {
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  .overview {
    grid-column: 1/13;
    padding-left: 1em;
    .scores {
      padding-right: 0;
      font-size: 2rem;
      padding-left: 0.4rem;
    }
  }

  hr {
    grid-column: 1/13;
  }
  #reviewBox {
    grid-column: 1/13;
    #writeReview {
      margin-left: 0.5em;
      margin-bottom: 1em;
      background-color: $primaryColor;
      font-size: 2rem;
      color: white;
      padding: 0.5rem;
      border-radius: 15px;
      cursor: pointer;

      &:hover {
        background-color: $secondaryColor;
      }
    }
  }

  #notLoggedIn {
    color: red;
  }

  .sort {
    grid-column: 1/13;
    margin-left: 1em;
    margin-right: 1em;
  }

  .allReviews {
    grid-column: 1/13;
    .title {
      grid-column: 1/13;
    }
    ul {
      margin-bottom: 0;
      margin-top: 0;
      list-style-type: none;
      margin-left: 0;
      padding: 0;
    }

    li {
      display: grid;
      grid-template-columns: 7fr 1fr;
      &:nth-child(even) {
        background-color: #f2f4f4;
      }

      &:nth-child(odd) {
        background-color: #e5e8e8;
      }

      .review {
        margin-top: 0;
        margin-bottom: 0;
        padding: 1rem;
        padding-top: 0.2rem;

        .ratingHeaders {
          margin-top: 0;
          display: inline-block;
          margin-right: 20px;
        }
        h3 {
          margin-top: 0;
          margin-bottom: 0;
        }

        .scores_review {
          padding-right: 0;
          font-size: 1.5rem;
          padding-left: 0.3rem;
        }
        .commentHeader {
          margin-top: 1em;
          margin-bottom: 0;
        }

        .h3seperators {
          width: 215px;
        }

        .date {
          float: right;
        }

        .comment,
        .advice {
          margin-top: 0;
          font-size: 1em;
        }
        .advice {
          margin-bottom: 0;
        }
      }

      .reviewBottom {
        display: grid;
        justify-items: right;
        grid-column: 1/3;
      }
      .edit,
      .flag {
        padding-right: 0.5em;
        padding-bottom: 0.75em;
        div {
          display: inline-block;
        }
      }

      button {
        display: inline-block;
        outline: none;
        background: none;
        border: none;
        cursor: pointer;
      }

      .flag {
        .notReported {
          filter: invert(79%) sepia(5%) saturate(284%) hue-rotate(314deg)
            brightness(90%) contrast(85%);
        }

        .reported {
          filter: invert(37%) sepia(20%) saturate(6817%) hue-rotate(341deg)
            brightness(97%) contrast(86%);
        }
      }
      .vote {
        z-index: 1;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 50px 20px 30px minmax(auto, auto);
        align-items: center;
        justify-items: center;
        input {
          cursor: pointer;
          outline: none;
        }

        .null {
          cursor: pointer;
          filter: invert(79%) sepia(5%) saturate(284%) hue-rotate(314deg)
            brightness(90%) contrast(85%);
        }

        .upvoted {
          cursor: pointer;
          filter: invert(61%) sepia(16%) saturate(1810%) hue-rotate(93deg)
            brightness(106%) contrast(88%);
        }

        .downvoted {
          cursor: pointer;
          filter: invert(37%) sepia(20%) saturate(6817%) hue-rotate(341deg)
            brightness(97%) contrast(86%);
        }
      }
    }
  }
}

.footer {
  margin-top: 0;
}

@media screen and (min-width: 480px) {
  .reviewInputs {
    margin-bottom: 0;
  }

  .content {
    #reviewBox {
      margin: 0;
      #writeReview {
        margin-left: 0.5em;
      }
    }
  }
  .flag {
    margin-right: 1.5em;
  }
}

@media screen and (min-width: 800px) {
  .content {
    margin-left: 2em;
    margin-right: 6em;
  }
  .flag {
    margin-right: 2em;
  }

  .reviewInputs {
    margin-bottom: 0;
    form {
      padding-left: 2em;

      .anonymous {
        grid-column: 1/4;
      }

      .takeAgain {
        grid-column: 4/13;
      }

      .textbook {
        grid-column: 1/3;
      }

      .grade {
        grid-column: 3/5;
      }

      .year {
        grid-column: 5/13;
      }
    }
  }
}

@media screen and (min-width: 900px) {
  .content {
    margin-right: 10%;
    .allReviews {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      ul {
        grid-column: 1/12;
        li {
          margin-bottom: 1.5em;
          border-radius: 10px;
          &:first-child {
            margin-top: 1.5em;
          }
        }
      }

      .flag {
        margin-right: 2em;
      }
    }
  }
}

@media screen and (min-width: 1000px) {
  .content {
    margin-right: 15%;
  }
}
@media screen and (min-width: 1150px) {
  .content {
    margin-right: 21%;
  }
}
@media screen and (min-width: 1300px) {
  .content {
    margin-right: 27%;
  }
}
@media screen and (min-width: 1450px) {
  .content {
    margin-right: 33%;
  }
}
@media screen and (min-width: 1500px) {
  .content {
    margin-right: 39%;
  }
}
@media screen and (min-width: 1650px) {
  .content {
    margin-right: 45%;
  }
}
@media screen and (min-width: 1800px) {
  .content {
    margin-right: 51%;
  }
}
