@import "./variables";

.content {
  margin-left: 30%;
  margin-right: 30%;
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    margin-left: 5%;
    margin-right: 5%;
  }

  @media screen and (max-width: 1400px) {
    margin-left: 15%;
    margin-right: 15%;
  }
}

.underline {
  height: 6px;
  background-color: $primaryColor;
}

.overview {
  .scores {
    padding-right: 0;
    font-size: 2rem;
    padding-left: 0.4rem;
  }

  #writeReview {
    background-color: #071245;
    font-size: 2rem;
    color: white;
    padding: 0.5rem;
    border-radius: 15px;
    cursor: pointer;

    &:hover {
      background-color: $secondaryColor;
    }
  }

  #notLoggedIn {
    color: red;
  }
}

.allReviews {
  ul {
    list-style-type: none;
    margin-left: 0;
    padding: 0;
  }

  li {
    display: flex;
    flex-direction: row;
    &:nth-child(odd) {
      background-color: #f2f4f4;
    }

    &:nth-child(even) {
      background-color: #e5e8e8;
    }
  }
}

.review {
  margin-top: 0;
  margin-bottom: 0;
  padding: 1rem;
  padding-top: 0.2rem;
  flex: 1;

  .ratingHeaders {
    display: inline-block;
    margin-right: 100px;
  }
  h3 {
    display: inline-block;
    margin-top: 0;
  }

  .scores_review {
    padding-right: 0;
    font-size: 1.5rem;
    padding-left: 0.3rem;
  }
  .commentHeader {
    margin-top: 0;
    margin-bottom: 0;
  }

  .comment {
    margin-top: 0;
  }
  .h3seperators {
    width: 215px;
  }

  .date {
    float: right;
  }

  .comment {
    font-size: 1rem;
  }

  button {
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
  }

  form {
    display: inline-block;
  }

  .edit {
    float: right;
  }

  .flag {
    float: right;

    .notReported {
      filter: invert(79%) sepia(5%) saturate(284%) hue-rotate(314deg)
        brightness(90%) contrast(85%);
    }

    .reported {
      filter: invert(37%) sepia(20%) saturate(6817%) hue-rotate(341deg)
        brightness(97%) contrast(86%);
    }
  }

  .nav {
    z-index: 2;
  }
}

.vote {
  background-color: white;
  padding-left: 1rem;
  vertical-align: middle;
  position: relative;
  z-index: 1;

  input {
    cursor: pointer;
    outline: none;
  }

  .null {
    filter: invert(79%) sepia(5%) saturate(284%) hue-rotate(314deg)
      brightness(90%) contrast(85%);
  }

  .upvoted {
    filter: invert(61%) sepia(16%) saturate(1810%) hue-rotate(93deg)
      brightness(106%) contrast(88%);
  }

  .downvoted {
    filter: invert(37%) sepia(20%) saturate(6817%) hue-rotate(341deg)
      brightness(97%) contrast(86%);
  }
}
