.grecaptcha-badge {
  visibility: hidden;
}

body {
  margin: 0;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  font-family: Arial, Helvetica, sans-serif;
}

.mainNav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-grid-columns: 4fr 1fr;
      grid-template-columns: 4fr 1fr;
  background-color: #213458;
}

.mainNav .nav-logo {
  font-size: 1.2em;
  margin-top: 0;
  padding-right: 1em;
}

.mainNav .nav-logo h1 {
  margin: 0.2em;
}

.mainNav .burger-menu {
  padding-right: 0.5em;
}

.mainNav i {
  cursor: pointer;
}

.mainNav #nav-toggle:checked + div {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.mainNav .links {
  display: none;
  text-align: center;
  width: 100%;
}

.mainNav .links a {
  display: inline-block;
  width: 100%;
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
}

.mainNav .links a:hover {
  background-color: #1F77AC;
}

.mainNav .links #login {
  display: none;
}

.mainNav .links #logout {
  display: none;
}

.mainNav .links #logout:hover {
  background: #e93636;
}

.mainNav .links #logout a {
  border: none;
}

.mainNav .links #logout a:hover {
  background: #e93636;
}

.mainNav .links .dropdown {
  position: relative;
  display: inline-block;
  font-size: 1.5rem;
  color: white;
  margin: auto;
}

.mainNav .links .dropdown:hover,
.mainNav .links .dropdown:focus {
  background-color: #1F77AC;
}

.mainNav .links .dropdown-content {
  display: none;
  padding: 0;
  margin: 0;
}

.mainNav .links .show {
  display: block;
}

.mainNav .links #account {
  display: none;
}

.container {
  min-height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
}

.header {
  display: -ms-grid;
  display: grid;
  text-align: center;
}

.header .headerImage {
  width: 100%;
  height: 275px;
  background-image: url("../images/ubctitle.jpg");
  background-size: cover;
  background-position: 50% 50%;
}

.header h1,
.header h3 {
  justify-items: center;
}

.header h1 {
  font-size: 1.25em;
  margin-bottom: 0;
}

.header h3 {
  color: gray;
}

hr {
  margin-top: 0;
  margin-bottom: 0;
  border: none;
  width: 100%;
  height: 10px;
  background-color: #213458;
}

.content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.content .ubcinfo {
  color: white;
  overflow-x: hidden;
  text-align: center;
  padding-left: 1.5em;
  padding-right: 1.5em;
  background-color: #1F77AC;
  background-image: url("../images/diagmonds-light.png");
}

.content .searchinput {
  text-align: center;
}

.content .searchinput h1 {
  font-size: 1.5em;
}

.content .searchinput input {
  text-align: center;
  width: 12.5rem;
  font-size: 1.25rem;
  padding: 0.5rem;
  vertical-align: top;
  color: #213458;
  border: 3px solid #213458;
  -webkit-box-shadow: 1px 0px 4px #1F77AC;
          box-shadow: 1px 0px 4px #1F77AC;
  border-radius: 15px;
  outline: none;
}

.content .searchinput input:focus {
  -webkit-box-shadow: 1px 1px 13px #1c77ac;
          box-shadow: 1px 1px 13px #1c77ac;
}

.content .searchinput button {
  padding: 10px;
  height: 40px;
  width: 80px;
  font-size: 13px;
  color: white;
  background: #213458;
  border: none;
  margin: 4px;
  border-radius: 50px;
  -webkit-box-shadow: 0px 0px 13px #1F77AC;
          box-shadow: 0px 0px 13px #1F77AC;
  outline: none;
}

.content .searchinput button:hover {
  background-color: #1c77ac;
}

.content .browse {
  text-align: center;
  padding: 1rem;
  margin-top: 3.5rem;
}

.content .browse a {
  text-decoration: none;
  border-radius: 0.5em;
  color: white;
  font-size: 2rem;
  background-color: #213458;
  padding: 1rem;
}

.content .browse a:hover {
  background-color: #1F77AC;
}

.footer {
  margin-top: 4em;
  background-color: #213458;
  text-align: center;
  color: white;
}

.footer .footerLogo {
  display: none;
}

.footer .text h3 {
  margin: 0.5em;
  text-decoration: underline;
}

.footer .text p {
  margin: 1em;
  margin-top: 0.5em;
  padding: 0;
  color: lightgray;
}

.footer .text a {
  color: lightgray;
  text-decoration: none;
}

.footer .contactus h3 {
  margin-bottom: 1.5em;
}

.footer .contactus a {
  font-size: 1.2em;
  background-color: #1F77AC;
  border-radius: 0.5em;
  padding: 1rem;
  color: white;
  text-decoration: none;
}

.footer .contactus a:hover {
  background-color: #1F77AC;
}

.footer .copyright {
  color: gray;
}

@media screen and (min-width: 480px) {
  .header h1 {
    font-size: 2em;
  }
  .header h3 {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 768px) {
  .mainNav {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .mainNav a {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
  .mainNav .nav-logo {
    display: none;
  }
  .mainNav .burger-menu {
    display: none;
  }
  .mainNav .links {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 6fr 1fr;
        grid-template-columns: 6fr 1fr;
  }
  .mainNav .links .pages {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
  }
  .header .headerImage {
    width: 100%;
    height: 350px;
    background-image: url("../images/ubctitle.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  .content {
    display: -ms-grid;
    display: grid;
  }
  .content .ubcinfo {
    padding-left: 7.5em;
    padding-right: 7.5em;
  }
  .content .searchinput {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-columns: 3fr 1fr 3fr;
        grid-template-columns: 3fr 1fr 3fr;
  }
}

.footer p {
  padding-left: 15em;
  padding-right: 15em;
}

@media screen and (min-width: 992px) {
  .mainNav .links .pages {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
  }
  .content .searchinput {
    padding-left: 4em;
    padding-right: 4em;
  }
}

@media screen and (min-width: 1200px) {
  .mainNav .links .pages {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[7];
        grid-template-columns: repeat(7, 1fr);
  }
  .mainNav .links #login,
  .mainNav .links #logout {
    margin-left: 3em;
  }
  .header .headerImage {
    width: 100%;
    height: 450px;
    background-image: url("../images/ubctitle.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  .content .ubcinfo {
    padding-left: 10em;
    padding-right: 10em;
    font-size: 1.4em;
    background-position: center;
  }
  .content .searchinput {
    padding-left: 12em;
    padding-right: 12em;
  }
  .footer {
    padding-top: 1em;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .footerLogo {
    display: inline;
  }
  .footer .contactus h3 {
    font-size: 1.5em;
  }
  .footer .contactus a {
    font-size: 1.5em;
  }
  .footer .copyright {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    color: gray;
  }
}

@media screen and (min-width: 1400px) {
  .mainNav .links .pages {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
  }
  .content .searchinput {
    padding-left: 20em;
    padding-right: 20em;
  }
  .content .ubcinfo {
    padding-left: 15em;
    padding-right: 15em;
  }
}

@media screen and (min-width: 1600px) {
  .mainNav .links .pages {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[9];
        grid-template-columns: repeat(9, 1fr);
  }
  .mainNav .links #login,
  .mainNav .links #logout {
    margin-left: 7em;
  }
  .content .searchinput {
    padding-left: 25em;
    padding-right: 25em;
  }
  .content .ubcinfo {
    padding-left: 20em;
    padding-right: 20em;
  }
}
/*# sourceMappingURL=styles.css.map */