body {
  height: 100%;
  margin: 0;
}

.container {
  position: relative;
  height: auto;
  height: 100%;
  min-height: 100vh;
}

.content {
  padding-bottom: 20rem;
}

.footer {
  background-color: #072145;
  margin-top: 4rem;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.footerTitle {
  padding-top: 2rem;
  margin-bottom: 0;
}


.frontPageHeader {
  text-align: center;
  font-size: 2.75rem;
  /* background-color: rgba(21, 97, 173, 0.5); */
  background-image: url(../images/ubctitle2.jpg);
  background-size: cover;
  background-blend-mode: multiply;
  left: 0;
  right: 0;
  overflow-x: hidden;
  padding: 10.5rem;
}

@media screen and (max-width: 760px) {
  .header img {
    display: none;
  }
  .header h1 {
    font-size: 4.5rem;
  }
  #signout {
    display: none;
  }
  #signin {
    display: none;
  }
}

.header h1 {
  margin: 0;
  color: white;
}

.nav {
  text-align: center;
  background-color: #072145;
  position: sticky;
  padding: auto;
  top: 0;
  right: 0;
  left: 0;
}

.nav a {
  color: white;
  font-size: 1.5rem;
  margin: auto;
  display: inline-block;
  padding: 1rem;
  text-decoration: none;
}


.mainNav a:hover {
  background-color: #1c77ac;
}

#account {
  display: none;
}

.title {
  text-align: center;
  margin-left: 7rem;
  margin-right: 7rem;
}
.title div {
  vertical-align: top;
  margin-top: 1rem;
  display: inline-block;
}

.title h3 {
  color: grey;
  float: left;
  margin-top: 0.3rem;
}

.title img {
  display: inline-block;
  width: 10rem;
  height: auto;
}

.ubcinfo {
  overflow-x: hidden;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  margin-left: 7rem;
  margin-right: 7rem;
  margin-bottom: 3rem;
  border-style: solid none solid none;
  border-width: 0.4rem;
  border-color: #072145;
}

.g-signin2 {
  float: right;
}

#login {
  right: 0rem;
  display: none;
  position: absolute;
}

#logout {
  right: 0rem;
  display: none;
  position: absolute;
}

#signout:hover {
  background-color: red;
}

#logoutmessage {
  font-size: 1.5rem;
  float: left;
  color: grey;
}

.abcRioButton {
  margin-top: 0.75rem;
  margin-right: 0.75rem;
}

.searchinput {
  text-align: center;
}

#search {
  text-align: center;
  width: 12.5rem;
  font-size: 1.25rem;
  padding: 0.5rem;
  vertical-align: top;
  color:  #072145;
  border: 3px solid #072145;
  box-shadow: 1px 0px 4px #1c77ac;
  border-radius: 15px;
  outline: none;
}

#search:focus{
	box-shadow: 1px 1px 13px #1c77ac;
}

#submit {
  padding: 10px;
  height: 40px;
  width: 80px;
  font-size: 13px;
  color: white;
  background: #072145;
  border: none;
  margin: 4px;
  border-radius: 50px;
  box-shadow: 0px 0px 13px #1c77ac;
  outline: none;
}

#submit:hover {
  background-color: #1c77ac;
}

.browse {
  text-align: center;
  padding: 1rem;
  margin-top: 3.5rem;
}

.browse a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  background-color: #072145;
  padding: 1rem;
}

.browse a:hover {
  background-color: #1c77ac;
}

.contactus {
  text-align: center;
  color: white;
  padding-bottom: 3rem;
  padding-top: 2.5rem;
}

.contactus a {
  background-color: #1dbab4;
  padding: 1rem;
  color: white;
  text-decoration: none;
}

.contactus a:hover {
  background-color: #1c77ac;
}

.ratings, .ratings_difficulty  {
  border-radius: 2px;
  font-weight: bold;
  padding: .1rem;
  color: white;
}
