@import "./variables";

body {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  position: relative;
  height: auto;
  height: 100%;
  min-height: 100vh;
}

.header {
  hr {
    height: 15px;
    margin: 0;
    background-color: $primaryColor;
    border-color: $primaryColor;
  }

  .frontPageHeader {
    text-align: center;
    font-size: 2.75rem;
    background-image: url(../images/ubctitle2.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    left: 0;
    right: 0;
    margin-top: 50px;
    overflow-x: hidden;
    padding: 10.5rem;
  }

  h1 {
    margin: 0;
    color: white;
  }

  @media screen and (max-width: 760px) {
    img {
      display: none;
    }
    h1 {
      font-size: 4.5rem;
    }
    #signout {
      display: none;
    }
    #signin {
      display: none;
    }
  }

  .nav {
    text-align: center;
    background-color: $primaryColor;
    z-index: 2;
    position: fixed;
    padding: auto;
    top: 0;
    right: 0;
    left: 0;

    a {
      color: white;
      font-size: 1.5rem;
      margin: auto;
      display: inline-block;
      padding: 1rem;
      text-decoration: none;

      &:hover {
        background-color: $secondaryColor;
      }
    }
  }

  #login {
    right: 0rem;
    display: none;
    position: absolute;

    .g-signin2 {
      padding: 0;
      margin: 0;
    }

    .fb-signin {
      padding: 0;
      margin: 0;
    }
  }

  #logout {
    right: 0rem;
    display: none;
    position: absolute;

    &:hover {
      background: rgb(233, 54, 54);
    }
  }

  .dropdown {
    position: relative;
    display: inline-block;
    font-size: 1.5rem;
    color: white;
    margin: auto;
    padding: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
  }

  .dropdown:hover,
  .dropdown:focus {
    background-color: $secondaryColor;
  }

  .dropdown-content {
    display: none;
    padding: 0;
    margin: 0;
  }

  .show {
    display: block;
  }

  #account {
    display: none;
  }
}

.content {
  padding-bottom: 20rem;
  .title {
    text-align: center;
    margin-left: 7rem;
    margin-right: 7rem;

    div {
      vertical-align: top;
      margin-top: 1rem;
      display: inline-block;
    }

    h3 {
      color: grey;
      float: left;
      margin-top: 0.3rem;
    }

    img {
      display: inline-block;
      width: 10rem;
      height: auto;
    }
  }

  .ubcinfo {
    overflow-x: hidden;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    margin-left: 7rem;
    margin-right: 7rem;
    margin-bottom: 3rem;
    border-style: solid none solid none;
    border-width: 0.4rem;
    border-color: $primaryColor;
  }

  .searchinput {
    text-align: center;

    #search {
      text-align: center;
      width: 12.5rem;
      font-size: 1.25rem;
      padding: 0.5rem;
      vertical-align: top;
      color: $primaryColor;
      border: 3px solid $primaryColor;
      box-shadow: 1px 0px 4px $secondaryColor;
      border-radius: 15px;
      outline: none;

      &:focus {
        box-shadow: 1px 1px 13px #1c77ac;
      }
    }

    #submit {
      padding: 10px;
      height: 40px;
      width: 80px;
      font-size: 13px;
      color: white;
      background: $primaryColor;
      border: none;
      margin: 4px;
      border-radius: 50px;
      box-shadow: 0px 0px 13px $secondaryColor;
      outline: none;

      &:hover {
        background-color: #1c77ac;
      }
    }
  }

  .browse {
    text-align: center;
    padding: 1rem;
    margin-top: 3.5rem;

    a {
      text-decoration: none;
      color: white;
      font-size: 2rem;
      background-color: $primaryColor;
      padding: 1rem;

      &:hover {
          background-color: $secondaryColor;
      }
    }
  }
}

.footer {
  background-color: $primaryColor;
  margin-top: 4rem;
  position: absolute;
  width: 100%;
  bottom: 0;

  .contactus {
    text-align: center;
    color: white;
    padding-bottom: 3rem;
    padding-top: 2.5rem;

    h1 {
      margin-top: 0;
    }

    a {
      background-color: #1dbab4;
      padding: 1rem;
      color: white;
      text-decoration: none;
      &:hover {
        background-color: $secondaryColor;
      }
    }
  }

  .footerTitle {
    padding-top: 1rem;
    margin-bottom: 0;
  }
}
