@import "./variables";

.grecaptcha-badge {
  visibility: hidden;
}

body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  font-family: Arial, Helvetica, sans-serif;
}
.mainNav {
  position: sticky;
  top: 0;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 4fr 1fr;
  background-color: $primaryColor;

  .nav-logo {
    font-size: 1.2em;
    margin-top: 0;
    padding-right: 1em;
    h1 {
      margin: 0.2em;
    }
  }

  .burger-menu {
    padding-right: 0.5em;
  }

  i {
    cursor: pointer;
  }
  #nav-toggle:checked + div {
    display: grid;
    grid-column: 1/3;
  }

  .links {
    display: none;
    text-align: center;
    width: 100%;
    a {
      display: inline-block;
      width: 100%;
      color: white;
      font-size: 1.5rem;
      text-decoration: none;

      &:hover {
        background-color: $secondaryColor;
      }
    }

    #signinBtn {
      border: none;
      outline: none;
      background-color: $primaryColor;
      color: white;
      font-size: 1.5em;
      height: 100%;
      width: 100%;

      &:hover {
        background-color: $secondaryColor;
      }
    }
    .modal {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0);
      transition: 200ms ease-in-out;
      border: 1px solid black;
      border-radius: 5px;
      z-index: 10;
      background-color: white;
      color: black;
      width: 400px;
      max-width: 80%;

      .modalHeader {
        border-bottom: 5px solid black;

        h2 {
          display: inline-block;
          margin-top: 0.5em;
          margin-bottom: 0.5em;
        }

        .closeModal {
          padding-top: 0.25em;
          padding-right: 0.25em;
          color: black;
          float: right;
          cursor: pointer;
          border: none;
          outline: none;
          background: none;
          font-size: 2em;
          font-weight: bold;
        }
      }

      .modalBody {
        display: grid;
        padding: 1em;
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 1em;
      }
    }

    .modal.active {
      transform: translate(-50%, -50%) scale(1);
    }

    #overlay {
      position: fixed;
      transition: 200ms ease-in-out;
      opacity: 0;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5);
      pointer-events: none;
    }

    #overlay.active {
      opacity: 1;
      pointer-events: all;
    }

    #login {
      display: none;
    }
    #logout {
      display: none;
      &:hover {
        background: rgb(233, 54, 54);
      }
      a {
        border: none;
        &:hover {
          background: rgb(233, 54, 54);
        }
      }
    }

    #account {
      display: none;
    }
  }
}

.container {
  min-height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

.header {
  display: grid;
  text-align: center;
  .headerImage {
    width: 100%;
    height: 275px;
    background-image: url("../images/ubctitle.jpg");
    background-size: cover;
    background-position: 50% 50%;
  }

  h1,
  h3 {
    justify-items: center;
  }

  h1 {
    font-size: 1.25em;
    margin-bottom: 0;
  }
  h3 {
    color: gray;
  }
}
hr {
  margin-top: 0;
  margin-bottom: 0;
  border: none;
  width: 100%;
  height: 10px;
  background-color: $primaryColor;
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  .ubcinfo {
    color: white;
    overflow-x: hidden;
    text-align: center;
    padding-left: 1.5em;
    padding-right: 1.5em;
    background-color: $secondaryColor;
    background-image: url("../images/diagmonds-light.png");
  }

  .searchinput {
    text-align: center;

    h1 {
      font-size: 1.5em;
    }
    input {
      text-align: center;
      width: 12.5rem;
      font-size: 1.25rem;
      padding: 0.5rem;
      vertical-align: top;
      color: $primaryColor;
      border: 3px solid $primaryColor;
      box-shadow: 1px 0px 4px $secondaryColor;
      border-radius: 15px;
      outline: none;

      &:focus {
        box-shadow: 1px 1px 13px #1c77ac;
      }
    }

    button {
      padding: 10px;
      height: 40px;
      width: 80px;
      font-size: 13px;
      color: white;
      background: $primaryColor;
      border: none;
      margin: 4px;
      border-radius: 50px;
      box-shadow: 0px 0px 13px $secondaryColor;
      outline: none;

      &:hover {
        background-color: #1c77ac;
      }
    }
  }

  .browse {
    text-align: center;
    padding: 1rem;
    margin-top: 3.5rem;

    a {
      text-decoration: none;
      border-radius: 0.5em;
      color: white;
      font-size: 2rem;
      background-color: $primaryColor;
      padding: 1rem;

      &:hover {
        background-color: $secondaryColor;
      }
    }
  }
}

.footer {
  margin-top: 4em;
  background-color: $primaryColor;
  margin-bottom: 0em;
  text-align: center;
  color: white;

  .footerLogo {
    display: none;
  }

  .text {
    h3 {
      margin: 0.5em;
      text-decoration: underline;
    }

    p {
      margin: 1em;
      margin-top: 0.5em;
      padding: 0;
      color: lightgray;
    }

    a {
      color: lightgray;
      text-decoration: none;
    }
  }
  .contactus {
    h3 {
      margin-bottom: 1.5em;
    }
    a {
      font-size: 1.2em;
      background-color: $secondaryColor;
      border-radius: 0.5em;
      padding: 1rem;
      color: white;
      text-decoration: none;
      &:hover {
        background-color: $secondaryColor;
      }
    }
  }
  .copyright {
    color: gray;
  }
}

@media screen and (min-width: 480px) {
  .header {
    h1 {
      font-size: 2em;
    }
    h3 {
      font-size: 1.5em;
    }
  }
}

@media screen and (min-width: 768px) {
  .mainNav {
    display: grid;
    grid-template-columns: 1fr;

    a {
      padding-top: 0.5em;
      padding-bottom: 0.5em;
    }
    .nav-logo {
      display: none;
    }

    .burger-menu {
      display: none;
    }

    .links {
      display: grid;
      grid-template-columns: 6fr 1fr;

      .pages {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
      }
    }
  }

  .header {
    .headerImage {
      width: 100%;
      height: 350px;
      background-image: url("../images/ubctitle.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }
  }
  .content {
    display: grid;
    .ubcinfo {
      padding-left: 7.5em;
      padding-right: 7.5em;
    }

    .searchinput {
      display: grid;
      align-items: center;
      grid-template-columns: 3fr 1fr 3fr;
    }
  }
}
.footer {
  p {
    padding-left: 15em;
    padding-right: 15em;
  }
}

@media screen and (min-width: 992px) {
  .mainNav {
    .links {
      .pages {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
      }
    }
  }
  .content {
    .searchinput {
      padding-left: 4em;
      padding-right: 4em;
    }
  }
}

@media screen and (min-width: 1200px) {
  .mainNav {
    .links {
      .pages {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
      }
      #login,
      #logout {
        margin-left: 3em;
      }
    }
  }
  .header {
    .headerImage {
      width: 100%;
      height: 450px;
      background-image: url("../images/ubctitle.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }
  }
  .content {
    .ubcinfo {
      padding-left: 10em;
      padding-right: 10em;
      font-size: 1.4em;
      background-position: center;
    }

    .searchinput {
      padding-left: 12em;
      padding-right: 12em;
    }
  }
  .footer {
    padding-top: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;

    .footerLogo {
      display: inline;
    }
    .contactus {
      h3 {
        font-size: 1.5em;
      }
      a {
        font-size: 1.5em;
      }
    }
    .copyright {
      grid-column: 1/4;
      color: gray;
    }
  }
}

@media screen and (min-width: 1400px) {
  .mainNav {
    .links {
      .pages {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
      }
    }
  }

  .content {
    .searchinput {
      padding-left: 20em;
      padding-right: 20em;
    }

    .ubcinfo {
      padding-left: 15em;
      padding-right: 15em;
    }
  }
}
@media screen and (min-width: 1600px) {
  .mainNav {
    .links {
      .pages {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
      }
      #login,
      #logout {
        margin-left: 7em;
      }
    }
  }
  .content {
    .searchinput {
      padding-left: 25em;
      padding-right: 25em;
    }
    .ubcinfo {
      padding-left: 20em;
      padding-right: 20em;
    }
  }
}
