@import "./variables";

// @media screen and (min-width: 480px) {
//   body {
//   }
// }
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  min-height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

.header {
  display: grid;
  hr {
    height: 15px;
    margin: 0;
    background-color: $primaryColor;
    border-color: $primaryColor;
  }

  .frontPageHeader {
    text-align: center;
    font-size: 2.75rem;
    background-image: url(../images/ubctitle.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    left: 0;
    right: 0;
    overflow-x: hidden;
    padding: 14.5rem;
    @media screen and (min-width: 480px) {
      img {
        display: none;
      }
      h1 {
        font-size: 4.5rem;
      }
    }
  }

  h1 {
    margin: 0;
    color: white;
  }

  .mainNav {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 4fr 1fr;
    background-color: $primaryColor;

    a {
      color: white;
      font-size: 1.5rem;
      padding: 1rem;
      text-decoration: none;

      &:hover {
        background-color: $secondaryColor;
      }
    }

    
    i {
      cursor: pointer;
    }
    #nav-toggle:checked + div {
      display: grid;
      grid-column: 1 / 3;
    }

    .links {
      display: none;
      text-align: center;

      #login {
        right: 0rem;
        padding: 1rem;
        display: none;
      }
      #logout {
        right: 0rem;
        display: none;

        &:hover {
          background: rgb(233, 54, 54);
        }
      }

      .dropdown {
        position: relative;
        display: inline-block;
        font-size: 1.5rem;
        color: white;
        margin: auto;
      }

      .dropdown:hover,
      .dropdown:focus {
        background-color: $secondaryColor;
      }

      .dropdown-content {
        display: none;
        padding: 0;
        margin: 0;
      }

      .show {
        display: block;
      }

      #account {
        display: none;
      }
    }
  }
}

.content {
  .title {
    text-align: center;
    margin-left: 7rem;
    margin-right: 7rem;

    div {
      vertical-align: top;
      margin-top: 1rem;
      display: inline-block;
    }

    h3 {
      color: grey;
      float: left;
      margin-top: 0.3rem;
    }

    img {
      display: inline-block;
      width: 10rem;
      height: auto;
    }
  }

  .ubcinfo {
    overflow-x: hidden;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    margin-left: 7rem;
    margin-right: 7rem;
    margin-bottom: 3rem;
    border-style: solid none solid none;
    border-width: 0.4rem;
    border-color: $primaryColor;
  }

  .searchinput {
    text-align: center;

    input {
      text-align: center;
      width: 12.5rem;
      font-size: 1.25rem;
      padding: 0.5rem;
      vertical-align: top;
      color: $primaryColor;
      border: 3px solid $primaryColor;
      box-shadow: 1px 0px 4px $secondaryColor;
      border-radius: 15px;
      outline: none;

      &:focus {
        box-shadow: 1px 1px 13px #1c77ac;
      }
    }

    button {
      padding: 10px;
      height: 40px;
      width: 80px;
      font-size: 13px;
      color: white;
      background: $primaryColor;
      border: none;
      margin: 4px;
      border-radius: 50px;
      box-shadow: 0px 0px 13px $secondaryColor;
      outline: none;

      &:hover {
        background-color: #1c77ac;
      }
    }
  }

  .browse {
    text-align: center;
    padding: 1rem;
    margin-top: 3.5rem;

    a {
      text-decoration: none;
      color: white;
      font-size: 2rem;
      background-color: $primaryColor;
      padding: 1rem;

      &:hover {
        background-color: $secondaryColor;
      }
    }
  }
}

.footer {
  background-color: $primaryColor;

  .contactus {
    text-align: center;
    color: white;
    padding-bottom: 3rem;
    padding-top: 2.5rem;

    h1 {
      margin-top: 0;
    }

    a {
      background-color: #1dbab4;
      padding: 1rem;
      color: white;
      text-decoration: none;
      &:hover {
        background-color: $secondaryColor;
      }
    }
  }

  .footerTitle {
    padding-top: 1rem;
    margin-bottom: 0;
  }
}
