@import "./variables";

.grecaptcha-badge {
  visibility: hidden;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.mainNav {
  position: sticky;
  top: 0;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 4fr 1fr;
  background-color: $primaryColor;

  .nav-logo {
    font-size: 1.2em;
    margin-top: 0;
    padding-right: 1em;
    h1 {
      margin: 0.2em;
    }
  }

  .burger-menu {
    padding-right: 0.5em;
  }

  i {
    cursor: pointer;
  }
  #nav-toggle:checked + div {
    display: grid;
    grid-column: 1/3;
  }

  .links {
    display: none;
    text-align: center;
    width: 100%;
    a {
      display: inline-block;
      width: 100%;
      color: white;
      font-size: 1.5rem;
      text-decoration: none;

      &:hover {
        background-color: $secondaryColor;
      }
    }

    #login {
      display: none;
    }
    #logout {
      display: none;
      &:hover {
        background: rgb(233, 54, 54);
      }
      a {
        border: none;
        &:hover {
          background: rgb(233, 54, 54);
        }
      }
    }

    .dropdown {
      position: relative;
      display: inline-block;
      font-size: 1.5rem;
      color: white;
      margin: auto;
    }

    .dropdown:hover,
    .dropdown:focus {
      background-color: $secondaryColor;
    }

    .dropdown-content {
      display: none;
      padding: 0;
      margin: 0;
    }

    .show {
      display: block;
    }

    #account {
      display: none;
    }
  }
}

.container {
  min-height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

.header {
  display: grid;
  text-align: center;
  .headerImage {
    width: 100%;
    height: 275px;
    background-image: url("../images/ubctitle.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  h1,
  h3 {
    justify-items: center;
  }

  h1 {
    font-size: 1.25em;
    margin-bottom: 0;
  }
  h3 {
    color: gray;
  }

  hr {
    margin-top: 0;
    border: none;
    width: 100%;
    height: 10px;
    background-color: $primaryColor;
  }
}

.content {
  .ubcinfo {
    overflow-x: hidden;
    text-align: center;
    padding: 1em;
    background-color: $tertiaryColor;
    border-color: $primaryColor;
  }

  .searchinput {
    text-align: center;

    input {
      text-align: center;
      width: 12.5rem;
      font-size: 1.25rem;
      padding: 0.5rem;
      vertical-align: top;
      color: $primaryColor;
      border: 3px solid $primaryColor;
      box-shadow: 1px 0px 4px $secondaryColor;
      border-radius: 15px;
      outline: none;

      &:focus {
        box-shadow: 1px 1px 13px #1c77ac;
      }
    }

    button {
      padding: 10px;
      height: 40px;
      width: 80px;
      font-size: 13px;
      color: white;
      background: $primaryColor;
      border: none;
      margin: 4px;
      border-radius: 50px;
      box-shadow: 0px 0px 13px $secondaryColor;
      outline: none;

      &:hover {
        background-color: #1c77ac;
      }
    }
  }

  .browse {
    text-align: center;
    padding: 1rem;
    margin-top: 3.5rem;

    a {
      text-decoration: none;
      border-radius: 0.5em;
      color: white;
      font-size: 2rem;
      background-color: $primaryColor;
      padding: 1rem;

      &:hover {
        background-color: $secondaryColor;
      }
    }
  }
}

.footer {
  margin-top: 2em;
  background-color: $primaryColor;
  text-align: center;
  color: white;

  .footerLogo {
    display: none;
  }

  .text {
    h3 {
      margin: 0.5em;
      text-decoration: underline;
    }

    p {
      margin: 1.5em;
      padding: 0;
      color: lightgray;
    }

    a {
      color: lightgray;
      text-decoration: none;
    }
  }
  .contactus {
    a {
      background-color: $secondaryColor;
      border-radius: 0.5em;
      padding: 1rem;
      color: white;
      text-decoration: none;
      &:hover {
        background-color: $secondaryColor;
      }
    }
  }
  .copyright {
    color: lightgray;
  }
}

@media screen and (min-width: 480px) {
  .headerImage {
    width: 100%;
    height: 500px;
    background-image: url("../images/ubctitle.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  .header {
    h1 {
      font-size: 2em;
    }
    h3 {
      font-size: 1.5em;
    }
  }
}

@media screen and (min-width: 768px) {
  .mainNav {
    display: grid;
    grid-template-columns: 1fr;

    a {
      padding-top: 0.5em;
      padding-bottom: 0.5em;
    }
    .nav-logo {
      display: none;
    }

    .burger-menu {
      display: none;
    }

    .links {
      display: grid;
      grid-template-columns: 6fr 1fr;

      .pages {
        display: grid;
        margin-right: 5em;
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }

  .headerImage {
    width: 100%;
    height: 500px;
    background-image: url("../images/ubctitle.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  .content {
    .firstline {
      padding-left: 5em;
      padding-right: 5em;
    }
  }

  .footer {
    p {
      padding-left: 15em;
      padding-right: 15em;
    }
  }
}

@media screen and (min-width: 992px) {
  .mainNav {
    .links {
      .pages {
        display: grid;
        margin-right: 15em;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .mainNav {
    .links {
      .pages {
        display: grid;
        margin-right: 25em;
      }
    }
  }
  .content {
    .firstline {
      padding-left: 20em;
      padding-right: 20em;
    }
  }
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;

    .footerLogo {
      display: inline;
    }
    .contactus {
      h3 {
        font-size: 1.5em;
      }
      a {
        font-size: 1.5em;
      }
    }
    .copyright {
      grid-column: 1/4;
      color: gray;
    }
  }
}

@media screen and (min-width: 1400px) {
  .mainNav {
    .links {
      .pages {
        display: grid;
        margin-right: 35em;
      }
    }
  }
}
@media screen and (min-width: 1600px) {
  .mainNav {
    .links {
      .pages {
        display: grid;
        margin-right: 45em;
      }
    }
  }
}