.subjectTitle {
    background-color:  #1c77ac;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    text-align: center;
    color: white;
}

.subjectHeader {
    margin-bottom: 2rem;
    margin-top: 60px;
}

hr {
    margin-top: 0;
}

.note {
    text-align: center;
}

table {
    margin: 0 auto;
    border-color: #072145;
    border-style: none solid solid solid;
    border-width: 5px;
    border-spacing: 0;
    border-collapse: collapse;
    cursor: pointer;
}

tr:nth-child(odd) {
    background-color: lightskyblue;
}

tr:hover {
    background-color: #072145;
    color: white;
}
td {
    padding-bottom: 0.3rem;
    padding-top: 0.3rem;
    padding-right: 3rem;
}

th {
    text-align: left;
    padding-right: 3.5rem;
    color: white;
    background-color: #072145;
    font-size: 1.1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.ratings,
.ratings_difficulty {
  border-radius: 2px;
  font-weight: bold;
  padding: 0.1rem;
  color: white;
}