@import "./variables";

.subjectHeader {
  margin-bottom: 2rem;
  margin-top: 60px;

  h1 {
    background-color: $secondaryColor;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    text-align: center;
    color: white;
  }

  hr {
    height: 8px;
    margin-top: 0;
    background-color: $primaryColor;
    border-color: $primaryColor;
  }
}

.note {
  text-align: center;
}

table {
  margin: 0 auto;
  border-color: $primaryColor;
  border-style: none solid solid solid;
  border-width: 5px;
  border-spacing: 0;
  border-collapse: collapse;
  cursor: pointer;

  tr {
    &:nth-child(odd) {
      background-color: lightskyblue;
    }

    &:hover {
      background: $primaryColor;
      color: white;
    }
  }

  td {
    padding-bottom: 0.3rem;
    padding-top: 0.3rem;
    padding-right: 3rem;
  }

  th {
    text-align: left;
    padding-right: 3.5rem;
    color: white;
    background-color: $primaryColor;
    font-size: 1.1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

.ratings,
.ratings_difficulty {
  border-radius: 2px;
  font-weight: bold;
  padding: 0.1rem;
  color: white;
}
