@import "./variables";

.header {
  .subjectTitle {
    color: white;
    font-size: 2em;
    margin-top: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: $secondaryColor;
    background-image: url("../images/diagmonds-light.png");
  }
}

.content {
  h4 {
    text-align: center;
  }

  table {
    overflow: hidden;
    table-layout: fixed;
    width: 100%;
    border-color: $primaryColor;
    border-style: none none solid none;
    border-width: 5px;
    border-spacing: 0;
    border-collapse: collapse;
    cursor: pointer;

    .col1 {
      width: 20%;
    }
    .col2 {
      width: 40%;
    }
    .col3 {
      width: 40%;
    }
    tr {
      &:nth-child(odd) {
        background-color: lightskyblue;
      }

      &:hover {
        background: $primaryColor;
        color: white;
      }
      &:first-child {
        color: white;
        background-color: $primaryColor;
      }
    }

    td {
      padding-bottom: 0.3rem;
      padding-top: 0.3rem;
      padding-left: 0.2em;
    }
  }

  .ratings,
  .ratings_difficulty {
    border-radius: 2px;
    font-weight: bold;
    padding: 0.1rem;
    color: white;
  }
}

