body {
  margin: auto;
}

.header {
  text-align: center;
  font-size: 2.75rem;
  background-color: rgba(21, 97, 173, 0.5);
  background-image: url(images/Testimg.jpg);
  background-blend-mode: multiply;
  left: 0;
  right: 0;
  overflow-x: hidden;
  padding: 8.5rem;
}

@media screen and (max-width: 740px) {
  .header img {
    display: none;
  }
  .header h1 {
    font-size: 3rem;
  }
}

.header h1 {
  color: white;
}

.title {
  margin: 0;
}

p {
  font-size: 2rem;
  padding: 0rem;
  margin: auto;
}

.firstline {
  padding-top: 2rem;
  text-align: center;
  padding-bottom: 2rem;
}

hr {
  box-sizing: content-box;
  height: 20px;
  background-color: #1561ad;
  margin: 0;
  border: 0rem;
}

.search {
  text-align: center;
  padding-bottom: 2rem;
}

.search input {
  border: 0.5rem solid #1c77ac;
  border-radius: 0.5rem;
  padding: 0.3rem;
  font-size: 1.5rem;
}

button {
  border: none;
  padding: 0;
  position: absolute;
}

.magnifyingglass {
  width: 3.5rem;
}

.contactus {
  text-align: center;
  padding-top: 10rem;
}

.contactus a {
  background-color: #1dbab4;
  padding: 1rem;
  color: white;
  text-decoration: none;
}

#signout {
  background-color: #1dbab4;
  padding: 1rem;
  color: white;
  text-decoration: none;
}

.abcRioButton {
  margin: auto;
}

#login {
    display: none;
  width: auto;
  text-align: center;
  position: relative;
  margin: 0 auto;
}

#logout {
    display: none;
  text-align: center;
}
