body {
    margin: auto;
}

.header {
    text-align: center;
    font-size: 2.75rem;
    background-color: rgba(21, 97, 173, 0.5);
    background-image: url(Testimg.jpg);
    background-blend-mode: multiply;
    left: 0;
    right: 0;
    overflow: auto;
    padding: 8.5rem;
}

@media screen and (max-width:824px) {
    .header img {display: none;}
}

.header h1 {
    color: white;
}

.title {
    margin: 0;
}

p {
    font-size: 2rem;
    padding: 0rem;
    margin: auto;
}

.firstline {
    padding-top: 2rem;
    text-align: center;
}

.secondline {
    box-sizing: content-box;
    width: 80%;
    text-align: center;
    padding-bottom: 2rem;
}

hr {
    box-sizing: content-box;
    height: 20px;
    background-color: #1c77ac;
    margin: 0;
    border: 0rem;
}

.search {
    text-align: center;
}