.content {
  margin-left: 20%;
  margin-right: 30%;
}

@media screen and (max-width: 1400px) {
    .content {
        margin-left: 10%;
        margin-right: 20%;
    }
}
.numOfReviews {
  color: gray;
  font-size: 1.5rem;
}

.underline {
  height: 6px;
  background-color: #071245;
}

.scores {
  font-size: 2rem;
}
.scores_review {
  font-size: 1.5rem;
}

.ratingHeaders{
    display: inline-block;
    margin-right: 100px;
}
#makeReview {
  background-color: #071245;
  font-size: 2rem;
  color: white;
  padding: 0.5rem;
  border-radius: 15px;
  cursor: pointer;
}

#makeReview:hover {
  background-color: #1c77ac;
}

#notLoggedIn {
    color: red;
}

.review {
  margin-top: 0;
  padding: 0;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  margin-left: 0;
  padding: 0;
}

li {
  padding: 1rem;
  padding-top: 0.2rem;
}

li:nth-child(odd) {
  background-color: #f2f4f4;
}

li:nth-child(even) {
  background-color: #e5e8e8;
}

.commentHeader {
    margin-top: 0;
    margin-bottom: 0;
}

.comment {
    margin-top: 0;
}
.h3seperators {
  width: 215px;
}

.review h3 {
  display: inline-block;
  margin-top: 0;
}

.date {
    float: right;
}
.comment {
    font-size: 1rem;
}
