body {
    margin: 0;
}

.header {
    text-align: center;
    font-size: 2.75rem;
    background-color: rgba(21, 97, 173, 0.5);
    background-image: url(images/Testimg.jpg);
    background-blend-mode: multiply;
    left: 0;
    right: 0;
    overflow-x: hidden;
    padding: 8.5rem;
}

@media screen and (max-width:740px) {
    .header img {display: none;}
    .header h1 {font-size: 3rem;}
}

.header h1 {
    color: white;
}

.title {
    margin: 0;
}

.nav {
    text-align: center;
    background-color: #1561ad; 
    position: sticky;
    padding: auto;
    top: 0;
    right: 0;
    left: 0;
}

.nav a {
    color: white;
    font-size: 1.5rem;
    margin: auto;
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
}

.nav a:hover {background-color: #1c77ac} 

.ubcinfo {
    overflow-x: hidden;
    padding: 2rem;
}

.ubcinfo img {
    float: left;
    padding-bottom: 1rem;
    padding-top: 1rem;
    padding-right: 1rem;
}

.g-signin2 {
    float: right;
}

#signout {
    display: none;
}

.abcRioButton{
    margin-top: 0.75rem;
    margin-right: 0.75rem;
}