
body {
    margin: 0;
}

.header {
    text-align: center;
    font-size: 2.75em;
    background-color: gray;
    position: static;
    left: 0;
    right: 0;
    overflow: auto;
}

.header h1 {
    color: white;
}

.title {
    margin: 0;
}

.nav {
    text-align: center;
    background-color: red; 
    position: fixed;
    padding: auto;
    right: 0;
    left: 0;
}

.nav a {
    color: white;
    margin: auto;
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
}

.nav a:hover {background-color: green;}


.dropdown {
    position: relative;
    display: inline-block;
    padding: 1rem;
    margin: auto;
    color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 1em;
    box-shadow: 0em .5em 1em 0em rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: .75em 1em;
    display: block;
    text-decoration: none;
}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: green;}